:root {
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);
}  

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: row;
    background-color: var(--rose-100);
    padding: 60px 70px ;
    gap: 40px;

}

#menuCart{
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 20px;
}

#cart{
    display:flex;
    flex-wrap: wrap;
    background-color: black;
}

#cartSelection{
    width: 25%;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
}